body{
    box-sizing: border-box;
    margin: 0;
    /*      top right bottom left*/
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0D3F7;
    color: black;
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color:#5B1865;
    text-decoration: none;
}

.nav-links a:hover {
    color:aqua;
}

.logo{
    font-size: 40px;
}

.nav-wave-border {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #FEF8EE;
}

.nav-wave-border svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 117px;
}

.nav-wave-border .shape-fill {
    fill:#F0D3F7;
}




.mycontainer {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.mycontainer div {
  width:25%;
  text-align: center;
}






.hero {
    margin: 0;
    height: 90%;
    padding: 30px;
    background-color:#FEF8EE;
}

.hero h1{
    font-size: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.hero h6{
    font-size: 30px;
    color: #5B1865;
    text-align: end;
}

.intro{
    padding: 5%;
    font-size: 30px;
    height: 80%;
    background-color: white;
}


.github{
    padding: 5%;
    background-color:#F0D3F7;
    height: 80%;
}

.github h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #5B1865;
}

.github p{
    font-size: 25px;
}


.vscode{
    padding: 5%;
    background-color:aliceblue;
    height: 80%;
}

.vscode h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #2D93AD;
}

.vscode p{
    font-size: 25px;
}


.laragon{
    padding: 5%;
    background-color:#f7d3ec;
    height: 80%;
}

.laragon h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #651839;
}

.laragon p{
    font-size: 25px;
}

/* I wanna add a border here*/

.custom-shape-divider-top-1787928181 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1787928181 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 117px;
}

.custom-shape-divider-top-1787928181 .shape-fill {
    fill:#f7d3ec;
}

.learned{
    padding: 5%;
    background-color:white;
    height: 80%;
}

.learned h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color:#5B1865;
}

.learned p{
    font-size: 25px;
}