body{
    box-sizing: border-box;
    margin: 0;
    /*      top right bottom left*/
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}









.hero {
    margin: 0;
    height: 90%;
    padding: 30px;
    background-color:#F3F9D2;
}

.hero h1{
    font-size: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.hero h6{
    font-size: 30px;
    color: #5B1865;
    text-align: end;
}

.intro{
    padding: 5%;
    font-size: 20px;
    height: 80%;
    background-color: antiquewhite;
}


.github{
    padding: 5%;
    background-color:#F0D3F7;
    height: 80%;
}

.github h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #5B1865;
}

.github p{
    font-size: 25px;
}


.vscode{
    padding: 5%;
    background-color:aliceblue;
    height: 80%;
}

.vscode h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #2D93AD;
}

.vscode p{
    font-size: 25px;
}


.laragon{
    padding: 5%;
    background-color:#f7d3ec;
    height: 80%;
}

.laragon h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #651839;
}

.laragon p{
    font-size: 25px;
}



.learned{
    padding: 5%;
    background-color:white;
    height: 80%;
}

.learned h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color:#5B1865;
}

.learned p{
    font-size: 25px;
}